[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pre-commit = "*"
anaconda = "*"
jedi = ">=0.13.0"
json-rpc = ">=1.8.1"
service-factory = ">=0.1.5"

[packages]
zulip = "*"
requests = "*"
stories = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
